.imgLogo{
    width: 100px;
    height: 100px;
    filter: invert(100%);
  }
.textoIntro{
    background-color: rgb(14, 14, 14);
    color: white;
    height: 300px;
    width: 500px;
    padding: 10px;
    opacity: 0.9;
    box-shadow: 5px 5px 5px rgb(18, 18, 18);
}
